// Use Compass
@import "compass/css3";
@import "compass";
@import "breakpoint";
@import "susy";
@import "font-awesome-sprockets";
@import "font-awesome";
@include global-reset;

//Susy Global Grid
$susy: (
	container: 100%,
	columns: 12,
	global-box-sizing: border-box,
  //debug: (
  //		image : show-columns,
  //		output : overlay,
  //		toggle : right top,
  //		color : rgba(#66f, .25)
  //	)
);
@include border-box-sizing;

// Font weights
$light: 300;
$regular: 400;
$bold: 600;

//Custom Fonts
@include font-face("museo-sans", font-files(
	"/assets/fonts/museo-sans-300/museosans-300-webfont.woff",
	"/assets/fonts/museo-sans-300/museosans-300-webfont.ttf",
	"/assets/fonts/museo-sans-300/museosans-300-webfont.svg",
	"/assets/fonts/museo-sans-300/museosans-300-webfont.eot" 
	));

@include font-face("theano-didot", font-files(
	"/assets/fonts/theano-didot/theanodidot-regular-webfont.woff",
	"/assets/fonts/theano-didot/theanodidot-regular-webfont.ttf",
	"/assets/fonts/theano-didot/theanodidot-regular-webfont.svg",
	"/assets/fonts/theano-didot/theanodidot-regular-webfont.eot"
	));

//Breakpoint Definitions
$desktop-breakpoint: 768px;
$desktop-container: 960px;

$breakpoints: (
  desktop : 680px
);

//Base Font at different breakpoints
$p-font-sizes: (
  null  : 13px,
  desktop : 12px
);

//H1 at different breakpoints
$h1-font-sizes: (
  null  : 28px,
  desktop : 33px
);

$h2-font-sizes: (
  null  : 24px,
  desktop : 28px
);

$h3-font-sizes: (
  null  : 20px,
  desktop : 26px
);

$h4-font-sizes: (
  null  : 18px,
  desktop : 20px
);

$h5-font-sizes: (
  null  : 13px,
  desktop : 15px
);

$h6-font-sizes: (
  null  : 11px,
  desktop : 13px
);


// Base Font
$base-font-family: "museo-sans", 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-weight: $regular;
$base-font-size: 16px;
$base-line-height: 1.6;

// Headings
$heading-font-family: "theano-didot", Georgia, 'Times New Roman', Times, serif;
$heading-font-weight: $light;

// Fixed Font
$fixed-font-family: source-code-pro, Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 
'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', 
Monaco, 'Courier New', Courier, monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $bold;

//Colours
$background-color: 	#000;				//Black

$first-brand-color: #033a52;			//Yale Blue
$second-brand-color: #fff;				//White
$third-brand-color: #131313;			//Black
$fourth-brand-color: #094c69;			//Yale Blue Light

$brand-black-alpha: #050505;			//Random Black (Probably designer inconsistency)
$brand-black-beta: #141414;				//Random Black (Probably designer inconsistency)

$quiet-color: $second-brand-color;		
$loud-color: $first-brand-color;

$text-color: #131313;					//Very dark grey (almost black)
$mid-grey: #cccccc;           //Mid Grey
$light-grey: #e9e9e9;					//Light grey

@import "modules/all";