.button{
	display: inline-block;
	padding: 5px 20px 5px 20px;
	background-color: $brand-black-alpha;
	color: $second-brand-color;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 11px;
	margin: 10px 0 10px 0;

	@include transition-property(background-color);
	@include transition-duration(0.5s);

	&:hover{
		background-color: tint($first-brand-color, 4%);
	}
}

.header_button{
	background-color: $fourth-brand-color;
	padding: 8px 25px 8px 25px;

	@include transition-property(background-color);
	@include transition-duration(0.5s);

	&:hover{
		background-color: tint($fourth-brand-color, 10%);
	}
}

.header_search_field-submit{
	margin: 0 0 20px -35px;
	border: none;
	background: none;
	cursor: pointer;

	i{
		color: tint($first-brand-color, 20%);
	}

	@include breakpoint($desktop-breakpoint) { 
		margin-bottom: 0;
	}
}

.button-lowercase{
	text-transform: capitalize;
}

.section-link{
	

	@include breakpoint($desktop-breakpoint) { 
		background: $second-brand-color; 
		text-transform: uppercase;
		color: $background-color;
		font-size: 10px;
		text-decoration: none;
		clear: both;
		height:45px;
		width:90px;
		margin: 0 auto;
		padding: 20px 0 0 0;
		@include border-radius(90px 90px 0 0);
		z-index: 10;

		&:after {
			content: "\f0d7"; 
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-decoration: inherit;
			position: absolute;
			font-size: 13px;
			color: $background-color;
			top: 5%;
			left: 45%;
			z-index: 100;
		}
	}
}

.section-link--small{
	position: relative;
	background: $second-brand-color; 
	text-transform: uppercase;
	color: $third-brand-color;
	font-size: 10px;
	text-decoration: none;
	clear: both;
	text-align: center;
	display: block;
	height:20px;
	width:45px;
	margin: 0 auto 40px auto;
	padding: 5px 0 0 0;
	@include border-radius(0 0 80px 80px);
	z-index: 10;

	&:after {
		content: "\f0d7"; 
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
		position: absolute;
		font-size: 15px;
		top: -10px;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		width: 20px;
		z-index: 100;

	}
}

.section-link--small--grey{
	position: relative;
	background: url('../img/widgets/grey-back.gif') repeat;
	text-transform: uppercase;
	color: $third-brand-color;
	font-size: 10px;
	text-decoration: none;
	clear: both;
	text-align: center;
	display: block;
	height:20px;
	width:45px;
	margin: 0 auto 40px auto;
	padding: 5px 0 0 0;
	@include border-radius(0 0 80px 80px);
	z-index: 10;

	&:after {
		content: "\f0d7"; 
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
		position: absolute;
		font-size: 15px;
		top: -10px;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		width: 20px;
		z-index: 100;

	}
}

.buttonizer{
	display: inline-block;
	text-transform: uppercase;
	padding: 5px;
	background-color: shade($first-brand-color, 30%);

	@include transition-property(background-color);
	@include transition-duration(0.5s);

	&:hover{
		background-color: tint($first-brand-color, 4%);
	}
}

/* Arrows */
.custom-button-prev,
.custom-button-next {
  display: none;
  position: absolute;
  top: 50%;
  width: 40px;
  height: 50px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba($second-brand-color, 0.7);

  @include breakpoint($desktop-breakpoint) { 
  	display: block;
  }
}

.custom-button-prev.swiper-button-disabled,
.custom-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.custom-button-prev,
.custom-container-rtl .custom-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 15%;
  right: auto;
}
.custom-button-prev.custom-button-black,
.custom-container-rtl .custom-button-next.custom-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}
.custom-button-prev.custom-button-white,
.custom-container-rtl .custom-button-next.custom-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}
.custom-button-next,
.custom-container-rtl .custom-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 15%;
  left: auto;
}
.custom-button-next.custom-button-black,
.custom-container-rtl .custom-button-prev.custom-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}
.custom-button-next.custom-button-white,
.custom-container-rtl .custom-button-prev.custom-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}