.full--blue			{ background-color: $first-brand-color; }
.full--grey			{ background-color: $light-grey; }
.full--black		{ background-color: $third-brand-color; }
.full--white		{ background-color: $second-brand-color; }
.full--grey--tile	{ background: url('../img/widgets/grey-back.gif') repeat; }

body{
	background-color: $background-color;
}

.wrap { 
	@include container(); 
	padding-left: 15px; 
	padding-right: 15px;

	@include breakpoint($desktop-breakpoint) { 
		@include container($desktop-container); 
	}
}

.section_content{
	padding-top: 40px;
	padding-bottom: 40px;
}

//Header
.header_contact{ 
	text-align: center; 

	h2{
		margin-top: 1.2em;
	}

	@include breakpoint($desktop-breakpoint) { 
		@include span(4); 
		text-align: left;
	}
}

.header_site-logo{ 
	text-align: center;
	margin-top: 8px;
	margin-bottom: 10px;

	@include breakpoint($desktop-breakpoint) { 
		@include span(3); 
	}
}

.site-logo{
	display: block;
	height: 125px;
	width: 160px;
	margin-left: auto;
	margin-right: auto;
  	@include image-replace("../img/widgets/main-logo.png");

  	a{
		height: 125px;
		width: 160px;
		display: block;
	}
}

.header_account{ 
	text-align: center;

	ul{
		margin-top: 10px;
		margin-bottom: 25px;
	}

	@include breakpoint($desktop-breakpoint) { 
		@include span(4 last); 
		text-align: right;
	}
}

.account_item{
	display: inline;
	margin-left: 10px;
	margin-right: 10px;

	&:last-child{
		margin-right: 0;
	}
} 

//Main Navigation
ul.main-nav{
	@include container();
	height: 100%;
	display: none;

	@include breakpoint($desktop-breakpoint) {
		@include container(960px);
		width: 100%;
		display:table;
	}
}

.main-nav_item{
	@include breakpoint($desktop-breakpoint) {
		text-align: center;
		display:table-cell;
		border-bottom: none;
	}

	border-bottom: 1px solid $first-brand-color;
	padding-left: 20px;
}

.responsive-hook{
	z-index: 10000;
	
	@include breakpoint($desktop-breakpoint) {
		position: inherit;
		top: inherit;
	} 
	
	width: 100%;
	position: absolute;
	top: 0;
}

//Carousel
.swiper-container{
	height: 300px;
	background-color: $second-brand-color;
	width: 100%;
	text-align: center;
	position: relative;
	z-index: 1;

	@include breakpoint($desktop-breakpoint) { 
    	height: 600px;	
  	}
}

.main-carousel_overlay{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background: rgba(#262626, 0.90);
	color: $second-brand-color;
	padding: 20px;
	z-index: 3;

	@include breakpoint($desktop-breakpoint) { 
		top: 40px;
		width: 400px;
		left: 0;
		right: 0;
		position: absolute;
    	margin-top: 50px;
		margin-bottom: 50px;
    	top: 10px;
		width: 400px;
		border: 10px solid rgba(#6f6c64, 0.56);
		background: rgba(#262626, 0.80);
  	}
}

.main-carousel_section-link{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom:0;
}

.swiper-container .swiper-slide {
	min-height: 100%;
	z-index: 2;
	background-position: center;
	background-size: cover;
}

//Secondary Carousel
.swiper-products{
	width: 100%;
	margin: 20px auto;
	overflow: hidden;
	position: relative;
	padding-top: 30px;
}

.swiper-products .swiper-slide {
	background-color: $light-grey;
	@include opacity(1);
	/*
	&:nth-child(-n + 2){
		@include opacity(1);		
		background-color: red;
	}
	*/

}

.swiper-products .swiper-slide img{
	margin-bottom: 10px;
}

.nobility img{
	border-bottom: 5px solid #b69a72;
}

.bonvia img{
	border-bottom: 5px solid #552855;
}

.supremacy img{
	border-bottom: 5px solid #b9dded;
}

.charme img{
	border-bottom: 5px solid #e24a25;
}

.diva img{
	border-bottom: 5px solid #da9a9e;
}

.swiper-products  .swiper-slide:nth-child(2n) {
    width: 40%;
}
.swiper-products .swiper-slide:nth-child(3n) {
    width: 20%;
}

.swiper-products .swiper-wrapper{
	margin-bottom: 60px;
}

.swiper-pagination-bullet-active {
  background: $first-brand-color !important;
}

//Product Grid
.product-grid{
	@include container(); 

	@include breakpoint($desktop-breakpoint) { 
		@include container($desktop-container); 
	}
}

.product-grid_list li{
	@include breakpoint($desktop-breakpoint) { 
		@include span(1 of 4);
		&:nth-child(4n) {
	        @include last;
	    }
	}

	
	margin-bottom: 20px;
	list-style-type: none;
}

.snippet-3{

	margin-bottom: 20px;

	img{
		display: block;
		margin: 0 auto 40px auto;
	}

	@include breakpoint($desktop-breakpoint) { 
		@include span(1 at 1 of 3 no-break);
		margin-bottom: inherit;	

		&:nth-child(3n) {
	        @include last;
	    }

	    img{
	    	display: inherit;
	    	margin: inherit;
	    }
	}
}

.footer-column{

	margin-bottom: 20px;
	
	@include breakpoint($desktop-breakpoint) { 
		@include span(1 of 4);
		margin-bottom: inherit;
		&:nth-child(4n) {
	        @include last;
	    }
	}
}

.footer-left{
	
	@include breakpoint($desktop-breakpoint) { 
		@include span(1 of 2);
	}
}

.footer-right{

	@include breakpoint($desktop-breakpoint) { 
		@include span(1 of 2 last);
		text-align: right;
	}
}