body {
  color: $text-color;
  @include font-size($p-font-sizes);
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: 1.6;
}

h1,h2,h3,h4,h5,.h1, .h2, .h3, .h4, .h5, .h6 { font-family: $heading-font-family; font-weight: $heading-font-weight; }
.h1, .h2 { line-height: 1.1; }
.h3, .h4 { line-height: 1.3; }
h1,.h1 { @include font-size($h1-font-sizes); }
h2,.h2 { @include font-size($h2-font-sizes); }
h3,.h3 { @include font-size($h3-font-sizes); }
h4,.h4 { @include font-size($h4-font-sizes); }
h5,.h5 { @include font-size($h5-font-sizes); }
h6,.h6 { @include font-size($h6-font-sizes); }

.fixed { font-family: $fixed-font-family; font-size: $fixed-font-size; line-height: $fixed-line-height; }

.quiet { font-color: $quiet-color; }
.loud  { font-color: $loud-color; }

.italic { font-style: italic; }
.bold   { font-weight: 700; @extend .loud; }

.block-margins { margin: 1em 0; }

.unordered-list { list-style-type: disc; }
.ordered-list { list-style: decimal; }

.typography {

  color: $third-brand-color;

  i, em { @extend .italic; }
  b, strong { @extend .bold; }

  h1, .h1 { @extend .h1; margin: 0.5em 0 1em; text-transform: uppercase; color: $first-brand-color; }
  h2, .h2 { @extend .h2; margin: 0.5em 0 1em; text-transform: uppercase; color: $first-brand-color; }
  h3, .h3 { @extend .h3; font-family: $base-font-family; margin: 0.5em 0 1em; text-transform: uppercase; color: $first-brand-color; }
  h4, .h4 { @extend .h4; font-family: $base-font-family; margin: 0.5em 0 1em; text-transform: uppercase; color: $first-brand-color; }
  h5, .h5 { @extend .h5; font-family: $base-font-family; margin: 0.5em 0 1em; text-transform: uppercase; color: $first-brand-color; }
  h6, .h6 { @extend .h6; font-family: $base-font-family; margin: 0.5em 0 1em; text-transform: uppercase; color: $first-brand-color; }

  p, ul, ol, pre { @extend .block-margins; }

  ul { @extend .unordered-list; }
  ol { @extend .ordered-list; }

  pre, code { @extend .fixed; }
}

.typography--header, .typography--footer {
  color: $second-brand-color;

  h1, .h1 { @extend .h1; font-family: $base-font-family; }
  h2, .h2 { @extend .h2; font-family: $base-font-family; }
  h3, .h3 { @extend .h3; font-family: $base-font-family; }
  h4, .h4 { @extend .h4; font-family: $base-font-family; margin: 0.5em 0 0.5em; text-transform: uppercase }
  h5, .h5 { @extend .h5; font-family: $base-font-family; margin: 0.5em 0 0.5em; text-transform: uppercase }
  h6, .h6 { @extend .h6; font-family: $base-font-family; margin: 0.5em 0 0.5em; text-transform: uppercase }

  p, ul, ol, pre { margin: 0; }

  ul { @extend .unordered-list; }
  ol { @extend .ordered-list; }

  pre, code { @extend .fixed; }

  li{ 
    font-size: 11px;
    text-transform: capitalize;
    text-decoration: none;
    list-style-type: none;

    a{
      text-decoration: none;
    }
  }

    a { 

        @include transition-property(color, background-color);
        @include transition-duration(0.5s);

      color: $second-brand-color; 

      &:hover{
        color: tint($first-brand-color, 60%);
      }
  }
}

.prefooter{
  li{
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
}

.typography_overlay {
  color: $second-brand-color;

  h1, .h1 { @extend .h1; font-family: $heading-font-family; margin: 0 0 0.5em 0; text-transform: uppercase; }
  h2, .h2 { @extend .h2; font-family: $heading-font-family; margin: 0 0 0.5em 0; text-transform: uppercase; }
  h3, .h3 { @extend .h3; font-family: $heading-font-family; margin: 0 0 0.5em 0; text-transform: uppercase; }
  h4, .h4 { @extend .h4; font-family: $heading-font-family; margin: 0 0 0.5em 0; text-transform: uppercase; }
  h5, .h5 { @extend .h5; font-family: $heading-font-family; margin: 0 0 0.5em 0; text-transform: uppercase; }
  h6, .h6 { @extend .h6; font-family: $heading-font-family; margin: 0 0 0.5em 0; text-transform: uppercase; }

  p, ul, ol, pre { margin: 0; }

  ul { @extend .unordered-list; }
  ol { @extend .ordered-list; }

  pre, code { @extend .fixed; }

  p{
    font-size: 12px; 
    margin-bottom: 1em;
  }

  h2{  
    padding: 0 0 0.5em 0;
    border-bottom: 1px solid $second-brand-color;
  }

  li{ 
    font-size: 11px;
    text-transform: capitalize;
    text-decoration: none;
      a{
        text-decoration: none;
      }
    }

  a {
      @include transition-property(color, background-color);
      @include transition-duration(0.5s);

    color: $second-brand-color; 

    &:hover{
      color: tint($first-brand-color, 70%);
    }
  }
}

.responsive-hook{
  h6{
    background-color:  $first-brand-color;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;

    span{
      float: right;
      padding-right: 20px;
    }

    a{
      color: $second-brand-color;
      text-decoration: none;      
      text-transform: uppercase
    }

    @include breakpoint($desktop-breakpoint) {
      display: none;
    }
  }
}

.main-nav_item a{
  color: $second-brand-color;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;

  @include transition-property(color);
  @include transition-duration(0.5s);

  &:hover{
    color: tint($first-brand-color, 15%);
  }

  &.active {
    display: block;
    color: tint($first-brand-color, 15%);


    @include breakpoint($desktop-breakpoint) {
      &:after {
        content: "\f0d7"; 
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        font-size: 11px;
        color: $first-brand-color;
        top: -7px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        z-index: 1;
      }
    }
  }
}

.product-grid_list{
  a{
    color: $third-brand-color;
    text-decoration: none;
  }
}

h2.section_heading{
  background: url('../img/widgets/heading-motif.png') center top no-repeat;
  border-bottom: 1px solid $mid-grey;
  max-width: 960px;
  margin: 0 auto 20px auto;
  padding-top: 40px;
  padding-bottom: 30px;
}

.final-strip{
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  padding-top: 20px;
  padding-bottom: 20px;
  a{
    text-decoration: none;
  }
  @include breakpoint($desktop-breakpoint) { 
    background: url('../img/widgets/footer-motif.png') center no-repeat;
    text-align: left;
  }
}

.swiper-slide p{
  padding: 0 20px 0 20px;

  &:last-of-type{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  a{
    text-decoration: none;
    color: $first-brand-color;
    text-transform: uppercase;

    @include transition-property(color);
    @include transition-duration(0.5s);

  &:hover{
    color: tint($first-brand-color, 50%);
  }
  }
}